<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Presentacion</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="web_content">
    <div class="navbar_div">
      <%= render 'navbar/navbar' %>
    </div>
    <%= render 'layouts/to_top_button' %>
    <div class="body_home">
      <!-- RUBY CONTENT -->
      <%= render 'ruby_content/introduction' %>
      <%= render 'ruby_content/features' %>
      <%= render 'ruby_content/key_aspects' %>
      <%= render 'ruby_content/blocks_functions_and_methods' %>
      <%= render 'ruby_content/procs_and_lambdas' %>
      <%= render 'ruby_content/map_collect_and_select' %>
      <%= render 'ruby_content/classes' %>
      <%= render 'ruby_content/inheritance' %>
      <%= render 'ruby_content/comparative' %>
      <!-- RAILS CONTENT -->
      <%= render 'rails_content/what_is' %>
    </div>
    <%= yield %>
  </div>
</body>
</html>
