<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Presentacion</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="web_content">
    <div class="navbar_div">
      <%= render 'navbar/navbar' %>
    </div>
    <%= render 'layouts/to_top_button' %>
    <div class="body_home">
      <%= render 'content/introduction' %>
      <%= render 'content/key_aspects' %>
      <%= render 'content/sintaxis' %>
      <%= render 'content/blocks_and_methods' %>
      <%= render 'content/example' %>
      <%= render 'content/comparative' %>
    </div>
    <%= yield %>
  </div>
</body>
</html>
